/3D Objects
/Application Data
/.bash_history
/Contacts
/Cookies
/Desktop
/.docker
/Documents
/Downloads
/Favorites
/IntelGraphicsProfiles
/Links
/Local Settings
/MicrosoftEdgeBackups
/Music
/My Documents
/NetHood
/NTUSER*
/ntuser*
/Nextcloud
/OneDrive
/Pictures
/PrintHood
/Recent
/Saved Games
/Searches
/SendTo
/.ssh
/Start Menu
/Templates
/.vscode
/.vscode-oss
/Videos
/wr-capture*